In [2]:
import pandas as pd

In [3]:
# Result of masking genomes with de novo + eukaryotic RepBase database
total = pd.read_csv("../ipython_data/total_repeats.dataframe", sep = "\t", index_col = False, na_values='na',
                       names = ["ALIAS", "NAME", "CLASS", "FAM", "CLASS_FAM", "FULL", 
                                "LENGTH", "FRG", "FULL_FRG", "NR_FRG", "AVG_DIV",
                                "MED_DIV", "AVG_DEL", "MED_DEL", "AVG_INS", "MED_INS",
                                "LEN_MASKED", "AVG_LEN_MASKED", "MED_LEN_MASKED", "GENOME_PERC",
                                "LEN_OVERLAP", "GENOME_PERC_OVERLAP", "LEN_MASKED_OVERLAP"])
annot = pd.read_csv("../ipython_data/names.tab", encoding = "UTF-8", sep = "\t",\
                    names = ["ALIAS", "ORDER", "SPECIES", "COMMON_NAME"])
stats = pd.read_csv("../ipython_data/N50.tab", sep = " ",\
                    names = ["ALIAS", "N50", "ASSEMBLY_SIZE", "A%", "G%", "C%", "T%"]).drop_duplicates()
annotstats = pd.merge(annot, stats) # Additional info combined

df = pd.merge(total, annotstats)

In [4]:
df = df[df['CLASS'].isin(['Unknown', 'DNA', 'LTR', 'SINE', 'LINE', 'Simple_repeat'])][['SPECIES', 'COMMON_NAME', 'CLASS', 'GENOME_PERC']]
df = df.groupby(['SPECIES', 
            'COMMON_NAME', 
            'CLASS']).sum().reset_index()

fishlist = ['Tetraodon nigroviridis', 'Danio rerio', 'Oryzias latipes', 'Gasterosteus aculeatus']

df[df['SPECIES'].isin(fishlist)]

,SPECIES,COMMON_NAME,CLASS,GENOME_PERC
198,Danio rerio,Zebrafish,DNA,39.413745
199,Danio rerio,Zebrafish,LINE,3.598822
200,Danio rerio,Zebrafish,LTR,5.598376
201,Danio rerio,Zebrafish,SINE,2.156305
202,Danio rerio,Zebrafish,Simple_repeat,3.698860
203,Danio rerio,Zebrafish,Unknown,3.635942
264,Gasterosteus aculeatus,Three-spined stickleback,DNA,3.531538
265,Gasterosteus aculeatus,Three-spined stickleback,LINE,2.859276
266,Gasterosteus aculeatus,Three-spined stickleback,LTR,2.173308
267,Gasterosteus aculeatus,Three-spined stickleback,SINE,0.288013
268,Gasterosteus aculeatus,Three-spined stickleback,Simple_repeat,1.973957
269,Gasterosteus aculeatus,Three-spined stickleback,Unknown,4.888570
480,Oryzias latipes,Medaka,DNA,9.699172
481,Oryzias latipes,Medaka,LINE,5.746306
482,Oryzias latipes,Medaka,LTR,2.418429
483,Oryzias latipes,Medaka,SINE,0.502220
484,Oryzias latipes,Medaka,Simple_repeat,0.913457
485,Oryzias latipes,Medaka,Unknown,17.897287
690,Tetraodon nigroviridis,Green spotted puffer,DNA,2.105190
691,Tetraodon nigroviridis,Green spotted puffer,LINE,2.322265
692,Tetraodon nigroviridis,Green spotted puffer,LTR,0.792739
693,Tetraodon nigroviridis,Green spotted puffer,SINE,0.169915
694,Tetraodon nigroviridis,Green spotted puffer,Simple_repeat,2.917307
695,Tetraodon nigroviridis,Green spotted puffer,Unknown,3.062834

# The results was compared with data from Gao et al. (2016) and Chalopin et al. (2015). Figure 6 was made in Microsoft Excel.